body {
    margin: 0;
    background-image: url(../img/about-bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.logo img {
    width: 244px;
    margin-top: -10px;
    padding-bottom: 50px;
}

.sideBtn {
    display: flex;
    float: right;
    padding: 20px;
}

.sidebar {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.sidebar div a:hover {
    color: peru;
}

.sidebar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 8px 40px 55px;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: peru;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    margin-top: -5px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    color: peru;
}

.about-container-1 {
    display: flex;
}

.subnav {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    margin-left: 65px;
}

.subnav-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 5px solid whitesmoke;
    width: 120px;
    padding-bottom: 20px;
}

.subnav-links {
    display: grid;
    padding-top: 50px;
    gap: 30px;
}

.subnav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.subnav-links a:focus {
    color: blue;
}

.subnav-links a:hover {
    color: brown;
}

#about-column-2 {
    margin-top: 80px;
    margin-left: 75px;
}

#about-title-1 {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 25px;
}

#about-desc {
    margin-top: 10px;
    padding: 10px 20px 30px 20px;
    border-radius: 30px;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
}

#about-desc p {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    line-height: 35px;
    padding: 0px 30px 0px 30px;
}

#about-history-image {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

#about-history-image p {
    margin: auto;
    margin-left: 23%;
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

#about-history-image img {
    transition: transform .2s;
    width: 380px;
    border-radius: 30px;
}

#about-history-image img:hover {
    transform: scale(1.5);
}

/*Tablet view*/
@media screen and (max-width: 820px) {
    body {
        background-size: cover;
        background-position-x: center;
        padding-bottom: 40px;
    }

    .logo img {
        width: 170px;
        margin-top: -5px;
        margin-left: -10px;
    }

    .subnav {
        margin-left: 35px;
    }

    .sideBtn {
        position: sticky;
        top: 0;
        right: 0;
    }

    #about-desc {
        max-width: 400px;
        padding: 10px 20px 10px 20px;
    }

    #about-desc p {
        font-size: 16px;
    }

    #about-history-image {
        display: block;
        margin-left: 15px;
    }

    #about-history-image p {
        margin: auto;
        margin-left: 27%;
        margin-bottom: 20px;
        font-size: 12px;
    }
}

/*Mobile view*/
@media screen and (max-width: 420px) {
    body {
        background-position-x: center;
    }

    #about-title-1 {
        margin-left: -40px;
        font-size: 28px;
    }

    .sideBtn {
        position: sticky;
        top: 0;
        right: 0;
    }

    .about-container-1 {
        display: block;
    }

    #about-desc {
        margin-left: -45px;
        margin-right: 30px;
    }

    #about-history-image img {
        width: 290px;
    }

    #about-history-image p {
        margin-left: 23%;
    }

    #about-history-image img:hover {
        transform: scale(1.2);
    }
}